# Server port
PORT=1323

# App language
APP_LANG=en

# Root path for files to index
FILES_ROOT=./files

# Database path
DB_PATH=./data/app.db

# Debug mode
DEBUG=true

# Upload activation
ENABLE_UPLOAD=true

# Allowed extensions for upload
ALLOWED_EXT=.pdf,.png,.jpg,.jpeg,.gif,.webp,.svg,.txt,.md,.docx,.xlsx,.zip,.mp4,.mp3

# Maximum upload size (in MB)
MAX_UPLOAD_SIZE=100
